/* variable: color scheme, font-size, imported google fonts */
:root {
  /* Primary Color */
  --Orange: hsl(25, 97%, 53%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  /* Typography */
  --font-size: 0.938rem;

  /* Font */
  --Overpass: "Overpass", sans-serif;
}

/* Use Board-Box Model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Overpass);
  background-color: var(--Very-Dark-Blue);
  color: var(--White);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main-container {
  background-color: var(--Dark-Blue);
  flex-basis: 80%;
  height: 100%;
  border-radius: 10px;
}
.content-container {
  height: 100%;
  margin: 2rem;
  display: flex;
  flex-flow: column;
}

.star-icon-container {
  background-color: hsl(213, 19%, 25%);
  padding: 0.625rem 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  flex: 1 1 auto;
}

.star-icon {
  background-image: url("/images/icon-star.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.feedback-message {
  flex: 2 1 auto;
  margin-top: 1rem;
}

.feedback-message > h1 {
  font-size: calc(var(--font-size) * 2);
}

.feedback-message > p {
  color: var(--Medium-Grey);
  font-size: calc(var(--font-size) * 1.2);
  line-height: 1.5;
  word-spacing: 0.5ch;
  margin-top: 1rem;
}

.rating-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.rating-container ul {
  display: flex;
  justify-content: space-between;
}

.rating-container ul a {
  background-color: hsl(213, 19%, 25%);
  color: var(--Medium-Grey);
  padding: 0.8rem 1.1rem;
  border-radius: 50%;
}

.rating-container ul a:hover {
  color: var(--White);
  background-color: var(--Orange);
}

.rating-container ul a:active {
  color: var(--White);
  background-color: var(--Light-Grey);
}

.button-container {
  margin: 1rem 0;
  text-align: center;
}

.button-container a {
  display: block;
  color: var(--White);
  background-color: var(--Orange);
  padding: 1rem;
  border-radius: 40px;
}

.button-container a:hover {
  color: var(--Orange);
  background-color: var(--White);
}

.thankyou-container {
  margin: 2rem;
  display: none;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.thankyou-img {
  background-image: url(./images/illustration-thank-you.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 12rem;
  height: 8rem;
}

.selected-rating {
  color: var(--Orange);
  background-color: hsl(213, 19%, 25%);
  padding: 0.5rem;
  border-radius: 20px;
  font-size: calc(var(--font-size) * 1.2);
}

.thankyou-message {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.thankyou-message h1 {
  font-size: calc(var(--font-size) * 2);
}

.thankyou-message p {
  font-size: calc(var(--font-size) * 1.2);
  margin-top: 1rem;
}

@media (min-width: 40em) {
  .main-container {
    flex-basis: 25rem;
  }
}
